<mat-card class="mt-3 pb-5">
  <div class="row text-left title-row d-flex justify-content-left align-items-center">
    <div class="col-12 col-md-12 col-sm-12 h3 title">Your publications</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="container-fluid">
        <div class="row category-row d-flex justify-content-center">
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <i class="material-icons">
              library_books
            </i>
            &nbsp;Posts
          </div>
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <i class="material-icons">
              shop_two
            </i>
            &nbsp;Sales
          </div>
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <i class="material-icons">
              contactless
            </i>
            Alerts
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-sm-12">
      <div class="container">
        <app-edit-posts></app-edit-posts>
        <app-edit-sales></app-edit-sales>
        <app-edit-alerts></app-edit-alerts>
      </div>
    </div>
  </div>
</mat-card>
