<div id="contain-page">
  <app-mobile-navbar></app-mobile-navbar>
  <div id="top-bar">
    <button id="area"><img src="../../assets/imgs/icons/short-white-booking.png"> &nbsp;<span>Booking</span></button>
    <button id="type"><img src="../../assets/imgs/icons/short-white-pay.png"> &nbsp;<span>Pay online</span></button>
  </div>
  <mat-card>
    <p class="mb-2 h-7">your money will be secured and sent after your delivery.</p>
    <div class="row">
      <div class="col-12">
        <input type="text" class="input-style large-size" placeholder="Adress...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="number" class="input-style large-size mb-4" placeholder="Your phone...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="number" class="input-style large-size" maxlength="16" placeholder="Card number...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="input-style large-size" maxlength="9" placeholder="Expiration date...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="number" class="input-style short-size" maxlength="4" placeholder="Cvc code...">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn-submit">Pay</button>
      </div>
    </div>
  </mat-card>
</div>


