<app-navbar></app-navbar>
<div class="container-fluid edition">
  <div class="row">
    <div class="col-12 col-md-3 col-sm-3 navigation">
    <app-edit-nav></app-edit-nav>
    </div>
    <div class="col-12 col-md-9 col-sm-9 contain mt-4">
      <app-edit-form></app-edit-form>
      <app-blocking></app-blocking>
      <app-edit-publication></app-edit-publication>
      <app-edit-publicities></app-edit-publicities>
      <app-edit-deliveries></app-edit-deliveries>
      <app-edit-contact></app-edit-contact>
      <app-edit-document></app-edit-document>
    </div>
  </div>
</div>
