*{
background:#dbedf3;
}

.edition{
overflow-x:hidden;
margin-top:70px;
}


.navigation{
height:auto;
padding:0px;
overflow-y:hidden;
overflow-x:hidden;
}

.navigation:hover{
overflow-y:auto;
overflow-x:hidden;
}





